/* VARIABLES */
:root {
    --text-color: rgba(0, 0, 0, 0.7);
    --main-bg: #EAEAEA;
    --primary-color: #FCC028;
    --hover-color: #f1ad01;
    --regular-font-size: 18px;
    --hero-section-bg: linear-gradient(rgba(236, 178, 46, 0.29), rgba(255, 255, 255));
}

/* UNIVERSAL SELECTORS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}



/* THE WHOLE PAGE */
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    
}

.hero-section {
    background: var(--hero-section-bg);
    width: 100%;
}

/* NAVBAR */
nav {
    padding: 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 24px 0; */
}

nav span {
    font-family: 'Imperial Script', cursive;
    font-size: 40px;
}

nav ul {
    display: flex;
    column-gap: 24px;
}

nav ul li {
    padding: 8px;
}

nav ul li a {
    font-size: var(--regular-font-size);
    font-weight: 600;
    color: var(--text-color);
}

nav ul li a:hover {
    color: black;
}

nav button {
    padding: 16px 32px;
    border-radius: 4px;
    background-color: var(--primary-color);
    border: 0;
    color: white;
    font-size: var(--regular-font-size);
    cursor: pointer;
}

nav button:hover {
    background-color: var(--hover-color);
}

/* Header */
header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 0px;
    height: 100vh;
    padding: 0 100px;
}

.header-content {
    display: flex;
    flex-direction: column;
} 

.header-content h4 {
    font-size: var(--regular-font-size);
    font-weight: 400;
    color: var(--primary-color);
}

.my-name {
    font-weight: 700;
    display: block;
    font-size: 72px;
    color: black;
}

.job-title {
    color: #207733;
    font-size: 24px;
}

.header-content p {
    color: var(--text-color);
    width: 70%;
    font-size: var(--regular-font-size);
    margin: 8px 0 24px;
    line-height: 1.8;
}

.cta {
    display: flex;
    column-gap: 24px;
    align-items: center;
    /* margin-top: 24px; */
}

.cta button {
    padding: 16px 64px;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: 0;
    color: white;
    font-size: var(--regular-font-size);
    cursor: pointer;
}

.cta button:hover {
    background-color: var(--hover-color);
}

.cta a {
    display: flex;
    align-items: center;
    color: black;
    column-gap: 8px;
    font-weight: 600;
    font-size: var(--regular-font-size);
}

.cta a:hover {
    color: var(--primary-color);
}

.header-image {
    object-fit: cover;
    width: 1000px;
    height: 950px;
}

header .profile-card {
    width: 500px;
    padding: 16px;
    margin-top: 80px;
    margin-left: -40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

header .profile-card .profile-header {
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

header .profile h6 {
    font-size: 14px;
    font-weight: 600;
}

header .profile h6 span {
    color: #9e9d9d;
    font-size: 10px;
    display: block;
    font-weight: 400;
}

header .header-content .profile-card p {
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
}

/* MAIN */
main {
    background-color: var(--main-bg);
    padding: 0 100px;
    
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

}

.about .image-wrapper img {
    width: 311px;
    height: 720px;
}

.about-content {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    flex-grow: 1;
    width: 100%;
}

.about-content h4 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
}

.about-content h4 span {
    color: black;
    display: block;
    font-size: 32px;
    font-weight: 500;
    margin: 8px 0 16px;
}

.about-content p {
    width: 80%;
    font-size:var(--regular-font-size);
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    column-gap: 60px;
    row-gap: 24px;
    margin-top: 24px;
}

.feature {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.feature h6 {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

.feature h6 span {
    font-size: 14px;
    display: block;
    /* margin-top: 8px; */
    color: black;
}

.about-content .cta {
    margin-top: 40px;
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.services-section h3 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
}

.services-section h3 span {
    color: black;
    font-size: 32px;
    display: block;
}

.services {
    display: flex;
    column-gap: 60px;
    position: relative;
}

.explore {
    position: absolute;
    right: 20px;
    top: -36px;
    font-size: 18px;
    cursor: pointer;
    color: var(--primary-color);
}

.explore:hover {
    color: var(--hover-color);
}

.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.service h4 {
    color: black;
    font-weight: 500;
    font-size: 24px;
    margin-top: 16px;
}

.service p {
    width: 70%;
    text-align: center;
    align-self: center;
    color: var(--text-color);
    line-height: 1.8;
    font-size: 18px;
    margin-top: 8px;
}

.case-study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    padding: 80px 0;
}

.case-study h3 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
}

.case-study h3 span {
    color: black;
    font-size: 32px;
    display: block;
}

.cases {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 40px;
}

.case {
    display: flex;
    column-gap: 80px;
    align-items: center; 
}

.row-reverse {
    flex-direction: row-reverse;
}

.case img {
    width: 100%;
}

.case h4 {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 500;
}

.case h5 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin: 12px 0;
}

.case p {
    color: var(--text-color);
    line-height: 1.8;
    font-weight: 400;
    font-size: 18px;
}

.secondary-btn {
    padding: 16px 64px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 8px;
    margin-top: 40px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.secondary-btn:hover {
    color: white;
    background-color: var(--hover-color);
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.portfolio h3 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
}

.portfolio h3 span {
    color: black;
    font-size: 32px;
    display: block;
}

.portfolio .projects {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
    gap: 60px;
    margin-top: 80px;
    position: relative;
}

.projects img {
    width: 100%;
}


.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    padding: 80px 0;
    padding-bottom: 0;
}

.testimonials h3 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 80px;
}

.testimonials h3 span {
    color: black;
    font-size: 32px;
    display: block;
}

.testimonials .block1 {
    width: 800px;
    height: 304px;
    position: relative;
}


.testimonial {
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    position: relative;
    /* position: absolute; */
    top: -200px;
    left: 500px;
    z-index: 99;
}

.testimonial .testimonialDp {
    margin-top: -50px;
    margin-bottom: 32px;
} 

.open-quote {
    position: absolute;
    left: 40px;
}
.close-quote {
    position: absolute;
    bottom: 0;
    right: 40px;
}

.testimonial p {
    width: 80%;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
}

.testimonial h6 {
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.testimonial h6 span {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    display: block;
}

.testimonials .block2 {
    width: 200px;
    height: 200px;
    position: relative;
    top: -570px;
    left: 87%;
    z-index: 1;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 16px;
    align-items: center;
    column-gap: 80px;
    position: absolute;
    z-index: 100;
    background-color: var(--primary-color);
    left: -110px;
    top: 150px;
    border-radius: 16px;
}

.arrow-container img {
    cursor: pointer;
}

.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    padding-bottom: 150px;
}

.our-clients h3 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 80px;
}

.our-clients h3 span {
    color: black;
    font-size: 32px;
    display: block;
}

.clients {
    display: flex;
    justify-content: center;
    column-gap: 150px;
    align-items: center;
    margin-top: 40px;
}

footer {
    background: linear-gradient(rgba(236, 178, 46, 0.29), rgba(255, 255, 255, 0.44));
    padding: 100px;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 250px;
    align-items: center;
}

.contact-contents {
    width: 100%;
}

.content-header {
    margin-left: 54px;
    margin-bottom: 60px;
}

.content-header h3 {
    font-size: 32px;
    font-weight: 500;
    color: black;
}

.content-header p {
    color: var(--text-color);
    line-height: 1.8;
    font-size: 18px;
    width: 70%;
    margin-top: 8px;
}

.content-main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.content-main div {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.content-main div span {
    width: 45%;
    font-size: 24px;
    font-weight: 400;
    /* line-height: 1.8; */
    color: var(--text-color);
}

.contact form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

.contact form input {
    width: 100%;
    padding: 24px 36px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
    /* outline: 0; */
}

.contact form textarea {
    /* outline: 0; */
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding: 24px 36px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    resize: none;
    height: 300px;
}

.contact form button {
    padding: 16px 64px;
    border-radius: 8px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    width: 25%;
    margin-top: 40px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    background-color: var(--hover-color);
}

.main-footer {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin: 200px 0 100px;
}

.main-footer h3 {
    font-family: 'Imperial Script', cursive;
    font-size: 40px;
    color: var(--primary-color);
}

.main-footer h3 span {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    width: 60%;
}

.main-footer table {
    border-collapse: collapse;
    width: 40%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}



th, td {
    text-align: left;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
}

th {
    color: black;
}

td {
    color: rgba(0, 0, 0, 0.31);
}

.copyright {
    width: 100%;
    background-color: var(--hover-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.copyright span {
    font-size: 18px;
}